{% extends 'base.html' %}

{% block content %}

    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% else %}
        <h1>Who are you?</h1>
        <br>
        <form action="" method="POST">
            <!-- form object from name_form() in app.py -->
            {{ form.hidden_tag() }}

            <!-- Label is "What's Your Name" from object StringField -->
            <!-- class "form-label" is from bootstrap -->
            {{ form.name.label(class="form-label") }}

            <!-- Creates input field or StringField-->
            <!-- class "form-control" is from bootstrap -->
            {{ form.name(class="form-control") }}
            <br>
            <!-- Creates submit button -->
            {{ form.submit(class="btn btn-secondary") }}


        </form>

    {% endif %}

{% endblock %}
